<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"><img src="images/trophy-xxl.png" class="nominate" title="nominate for an award!"/></div>
    <div class="avatar col-lg-6 text-center">
      <div>
   <% if (model.get("thumbnailPhotoLocation") && model.get("thumbnailPhotoLocation") !== "null") { %>
      <img src="<%= model.get('thumbnailPhotoLocation') %>" />
   <% } else { %>
   <img src="images/default-user.png" />
   <% } %>
      </div>
      <div class="name">
        <%= model.get("firstName") %> <%= model.get("lastName") %>
      </div>
      <div class="dept">
        <%= model.get("department") %>
      </div>
    </div>
    <div class="col-lg-3"><img src="images/pick.png" class="pick" title="give a guitar pick!"/></div>
  </div>
</div>
