<nav class="circle-menu">
  <div class="circle">
    <div class="pick" data-type="yellow">yellow</div>
    <div class="pick" data-type="blue">blue</div>
    <div class="pick" data-type="green">green</div>
    <div class="pick" data-type="purple">purple</div>
    <div class="pick" data-type="navy">navy</div>
  </div>
</nav>
<div class="why hidden">
  <div>
    <textarea class="note" placeholder="tell us why <%= model.get('firstName') %> deserves this pick"></textarea>
  </div>
  <div>
    <button class="button btn submit-pick">OK!</button>
  </div>
</div>
